.lightbox {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    animation: lightboxIn 0.5s;
  }
  .lightbox-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    margin: auto;
    position: relative;
  }
  .lightbox-image .lightboxh3 {
    color: #901c1c;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    /* text-align: center; */
    left: 30%;
    position: absolute;
    top: 94%;
  }
  .lightbox-image img,
  .lightbox-image video {
    width: 40%;
    height: 90%;
    object-fit: cover;
  }
  .lightbox button {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s;
    color: #901c1c;
    background-color: transparent;
    border: none;
    font-size: 3.5rem;
  }
  .lightbox button:hover {
    opacity: 1;
  }
  .lightbox #prev,
  .lightbox #next {
    position: fixed;
    top: 0;
    right: 20%;
    width: 110px;
    height: 100%;
    background: url(../assets/icons/arrow.svg) center center / 100% 100% no-repeat;
    z-index: 11;
  }
  .lightbox #prev {
    right: auto;
    left: 20%;
    transform: rotate(180deg);
  }
  .lightbox.active {
    display: flex;
  }
  .grid-item {
    cursor: pointer;
  }
  .lightbox .close {
    width: 50px;
    height: 30%;
    background: url(../assets/icons/close.svg) center center / 100% 100% no-repeat;
    position: fixed;
    top: 0;
    right: 22%;
    z-index: 12;
  }
  @keyframes lightboxIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }