#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photograph-header button {
  font-size: 20px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-header h2 {
  color: #d3573c;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photograph-header .pCityCountry {
  color: #901c1c;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.photograph-header .pTagline {
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}

.filter-form-wrapper {
  margin-top: 9px;
  margin-left: 100px
}

.filter-form-wrapper form {
  flex-direction: row;
  align-items: center;
}

.filter-form-wrapper form label {
  color: #000;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 20px;
}

form select {
  font-size: 18px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

select option {
  font-size: 18px;

  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* height: 100%; */
  /*width: 100%;*/
}

.photograph-header .h2-paragraph {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
#media-container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 70px;
  margin-top: 58px;
  margin-left: 100px;
  margin-right: 100px;
}
#media-container div {
  width: auto;
}
#media-container div video,
#media-container div img {
  /*width: 100%; 
   max-width: 100%; */
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  object-fit: cover;
}

.floating-element {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #db8876;
 
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 999;
  width: 376px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.floating-element .pPrice {
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
}

#containerCountLike {
  display: flex;
  align-items: center;
}

.floating-element p {
  color: #000;
  /* text-align: center; */
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

/* slide c'est pour le carousel :*/
 .slide {
  position: absolute;
  height: 100%; /* c-a-d 100% de son parent, ce qui signifie ici 100% de 100vh (viewport height, la taille de l'écran de l'utilisateur.) */
  width: 100%; /* pareil mais pour la width. On tape un raccourci w100 pour width:100% */
  opacity: 0; /* de base, on les masque, sauf celle qui a l'atrribut active */
  transition: 0.4s ease-in-out;
} 

.slide.active {
  /* sans espace, c-a-d que la balise a les 2 classes. avec un space, ça signifierait une un element avec la balise active dont la parent a la classe slide */
  opacity: 1;
}

.slide img {
  display: block;
  height: 100%; /* prend 50% de son parent en hauteur*/
  width: 100%;
  object-fit: cover;
}


.h2LikeContainer {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  font-weight: normal;
}

.likeContainer {
  display: flex;
  justify-content:flex-start;
  align-items:center;
  
}

.heartIcon {
  margin-left: 0.2em;
  /*margin-top: -22px;*/
  font-size: 1.5em;
}

h2 {
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact_button {
  width: 170px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 5px;
  border-style: none;
  background-color: #901C1C;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

input {
color: #312E2E;
font-family: "DM Sans";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#message {
color: #312E2E;
font-family: "DM Sans";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 5px;
border-style: none;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  width: 1242px;
height: 900px;
flex-shrink: 0;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  /**********/
  /*position: absolute;*/
  /*opacity: 0; /* de base, on les masque, sauf celle qui a l'atrribut active */
  transition: 0.4s ease-in-out;
}

.lightbox-image {
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


#prev {
  left: 5px;
}

#next {
  right: 5px;
}

.lightbox button {
  position: absolute; /* pour que les buttons restent dans l'espace de leur parent */
  background: none;
  border: none;
  outline: none;
  font-size:  2.6rem; /* vu que ce sont des icones, il faut passer par font-size pour les déplacer et non par height comme on le fait d'habitude */
  z-index: 2;
  cursor: pointer;
  color: rgb(243, 241, 241);
  transform: translateY(-50%);  /* pour placer nos boutons */
  top: 50%; /* Pa rapport au parent, on se met à 50% */
}

.lightbox.active {  
  /* opacity: 1; */
  display: flex;
} 

/*.grid-item.active {  
  opacity: 1; 
  display: flex;
}*/

.grid-item {
  cursor: pointer;
}