#contact_modal {
  /*display: none;*/   /* car j'utilise showModal */
  border: none;
  background: rgba(196, 196, 196, 0.4);
  /*position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
}
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}
#contact_modal .modal {
  position: relative;
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 35px;
  z-index: 20;
  top: 0;
  overflow: auto;
}
#contact_modal .modal .close-modal-contact {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
  z-index: 10;
}
.modal header {
  justify-content: space-between;
  width: 100%;
  height: 130px;
}
.modal header img {
  cursor: pointer;
  color: #ffffff;
}
.modal header h2,
header span {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  position: relative;
  top: -30px;
}
header .h2Name {
  display: block;
  margin-top: 10px;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
.photograph-header h2 {
  color: #d3573c;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.photograph-header .pCityCountry {
  color: #901c1c;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
.photograph-header .pTagline {
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}
.filter-form-wrapper {
  margin-top: 9px;
  margin-left: 100px;
}
.filter-form-wrapper form {
  flex-direction: row;
  align-items: center;
}
.filter-form-wrapper form label {
  color: #000;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 20px;
}
form select {
  font-size: 18px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
select option {
  font-size: 18px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.photograph-header .h2-paragraph {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
#media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 70px;
  margin-top: 58px;
  margin-left: 100px;
  margin-right: 100px;
}
#media-container div {
  width: auto;
}
#media-container div video,
#media-container div img {
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
  max-height: 80vh;
}
.floating-element {
  position: fixed;
  bottom: 0px;
  right: 20px;
  background-color: #db8876;
  border-radius: 5px;
  z-index: 5;
  width: 376px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
.floating-element .pPrice {
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
}
#containerCountLike {
  display: flex;
  align-items: center;
}
.floating-element p {
  color: #000;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}
#filter-select option {
  position: relative;
}
#filter-select option:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 1px;
  background-color: white;
}
.h2LikeContainer {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  font-weight: normal;
}
.likeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.likeContainer .heartIcon {
  margin-left: 0.2em;
  font-size: 1.5em;
  border: none;
  background: transparent;
  color: #901c1c;
}
h2 {
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
.contact_button,
.lightbox .contact_button {
  font-size: 20px;
  opacity: 1;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 170px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 5px;
  border-style: none;
  background-color: #901c1c;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
input {
  color: #312e2e;
  font-family: "DM Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#message {
  color: #312e2e;
  font-family: "DM Sans";
  width: 100%;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border-style: none;
}
